body{
    margin:0;
    padding:0;
}

a{
    text-decoration:none;
    color:black;
}
.navbar{
    color: blue;
    border:solid 1.5px;
    border-radius:0px;
    background-color:#B1DDF0;
    border-color:#10739E;
    margin:0px;
    padding:0px;
}


.mypage{
    float:right;
}

ul{
    float:left;
    background-color:#F5F5F5;
    border-right:0.5px solid;
    height:900px;
    list-style: none;
}
li{
    margin:5px 30px 20px 5px
}


@media (min-width: 768px) {
    .navbar{
        padding: 30px;
    }
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

@media (max-width:600px) {
    li{
        font-size:small;
        text-align:center;
        margin:20px 10px 0px 0px
    }
    .navbar{
        padding: 10px 10px 0px 10px;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}


.jumbotron .container {
    max-width: 40rem;
}

.text-dark {
    color: #343a40 !important;
}

.p-2 {
    padding: .5rem !important;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-body {
    margin: 15px
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}

.container {
    max-width: 960px;
    padding-top: 50px;
}

