body{
    margin:0;
    padding:0;
    height:100px;
}

a{
    text-decoration:none;
    color:black;
}
.navbar{
    color: blue;
    border:solid 1.5px;
    border-radius:0px;
    background-color:#B1DDF0;
    border-color:#10739E;
    margin:0px;
    padding:0px;
}


.mypage{
    float:right;
}

ul{
    float:left;
    background-color:#F5F5F5;
    border-right:0.5px solid;
    height: 100vh;
    list-style: none;
}
li{
    margin:5px 30px 20px 5px
}


.table tr {
    border:0.1px solid;
}


@media (min-width: 768px) {
    .navbar{
        padding: 30px;
    }
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

@media (max-width:760px) {
    li{
        font-size:small;
        text-align:center;
        margin:20px 10px 0px 0px
    }
    .navbar{
        padding: 10px 10px 0px 10px;
    }
}

.text-dark {
    color: #343a40 !important;
}

.p-2 {
    padding: .5rem !important;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 960px;
}

