[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pillow = "*"
gunicorn = "*"
selenium = "*"
whitenoise = "*"
django-cloudinary-storage = "*"
django-cleanup = "*"
python-jose = "*"
social-auth-app-django = "*"
mysqlclient = "*"
slackweb = "*"

[requires]
python_version = "3.8"
