{% extends 'base.html' %}

{% load static %}

{% block title %}
開発者詳細
{% endblock title %}


{% block main %}
<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <div class="row align-items-center mx-auto justify-content-center">
        <div class="col-12 col-md-4 text-center">
          <!-- col-12 col-md-4 -->
          <!-- col-4 col-auto-->
          <img class="img-fluid rounded-circle" src="../static/icons/creaters-icon/yagi.jpg" width="200" height="200">
        </div>
        <div class="d-md-none p-4"></div>
        <div class="col-12 col-md-8 text-left">
          <!-- col-12 col-md-8 -->
          <!-- col-8 col-auto-->
          <div style="overflow-wrap: break-word; word-wrap: break-word;">
            <div class="row p-2">
              <span class="col-6 col-md-5">ハンドルネーム: </span>
              <span class="col-6 col-md-5">{{ object.user.first_name }}</span>
            </div>
            <div class="row p-2">
              <span class="col-6 col-md-5">代: </span>
              <span class="col-6 col-md-5">{{ object.user.generation }}</span>
            </div>
            <div class="row p-2">
              <span class="col-6 col-md-5">ひとこと: </span>
              <span class="col-6 col-md-5">
                <p>{{ object.description }}</p>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">

    <h2>個人作成</h2>

    <!--<div class="row" position="relative">-->
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" style="height: 100%; width: 100%; display: block;"
          src="../static/icons/games-icon/mistrain.png" data-holder-rendered="true">
        <div class="card-body">
          <p class="card-text">
            <font size="5">MIS列車でGO!</font>
          </p>
          <p>作成者：HarrisonKawagoe, yagi, SEED, タコス, okanon</p>
          <div class="d-flex justify-content-between align-items-center">

            <a href="">詳しく見る</a>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" style="height: 100%; width: 100%; display: block;"
          src="../static/icons/games-icon/mistrain.png" data-holder-rendered="true">
        <div class="card-body">
          <p class="card-text">
            <font size="5">MIS列車でGO!</font>
          </p>
          <p>作成者：HarrisonKawagoe, yagi, SEED, タコス, okanon</p>
          <div class="d-flex justify-content-between align-items-center">

            <a href="">詳しく見る</a>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" style="height: 100%; width: 100%; display: block;"
          src="../static/icons/games-icon/mistrain.png" data-holder-rendered="true">
        <div class="card-body">
          <p class="card-text">
            <font size="5">MIS列車でGO!</font>
          </p>
          <p>作成者：HarrisonKawagoe, yagi, SEED, タコス, okanon</p>
          <div class="d-flex justify-content-between align-items-center">

            <a href="">詳しく見る</a>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" style="height: 100%; width: 100%; display: block;"
          src="../static/icons/games-icon/mistrain.png" data-holder-rendered="true">
        <div class="card-body">
          <p class="card-text">
            <font size="5">MIS列車でGO!</font>
          </p>
          <p>作成者：HarrisonKawagoe, yagi, SEED, タコス, okanon</p>
          <div class="d-flex justify-content-between align-items-center">

            <a href="">詳しく見る</a>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" style="height: 100%; width: 100%; display: block;"
          src="../static/icons/games-icon/mistrain.png" data-holder-rendered="true">
        <div class="card-body">
          <p class="card-text">
            <font size="5">MIS列車でGO!</font>
          </p>
          <p>作成者：HarrisonKawagoe, yagi, SEED, タコス, okanon</p>
          <div class="d-flex justify-content-between align-items-center">

            <a href="">詳しく見る</a>

          </div>
        </div>
      </div>
    </div>

    <!--</div>-->

  </div>

  <div class="container">

    <h2>複数人作成</h2>

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" style="height: 100%; width: 100%; display: block;"
          src="../static/icons/games-icon/mistrain.png" data-holder-rendered="true">
        <div class="card-body">
          <p class="card-text">
            <font size="5">MIS列車でGO!</font>
          </p>
          <p>作成者：HarrisonKawagoe, yagi, SEED, タコス, okanon</p>
          <div class="d-flex justify-content-between align-items-center">

            <a href="">詳しく見る</a>

          </div>
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" style="height: 100%; width: 100%; display: block;"
          src="../static/icons/games-icon/mistrain.png" data-holder-rendered="true">
        <div class="card-body">
          <p class="card-text">
            <font size="5">MIS列車でGO!</font>
          </p>
          <p>作成者：HarrisonKawagoe, yagi, SEED, タコス, okanon</p>
          <div class="d-flex justify-content-between align-items-center">

            <a href="">詳しく見る</a>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" style="height: 100%; width: 100%; display: block;"
          src="../static/icons/games-icon/mistrain.png" data-holder-rendered="true">
        <div class="card-body">
          <p class="card-text">
            <font size="5">MIS列車でGO!</font>
          </p>
          <p>作成者：HarrisonKawagoe, yagi, SEED, タコス, okanon</p>
          <div class="d-flex justify-content-between align-items-center">

            <a href="">詳しく見る</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock main %}