{% extends 'base.html' %}

{% load static %}

{% block title %}
Bootstrap Sample
{% endblock title %}

{% block main %}
<main role="main">
  <section class="jumbotron text-center">
    <div>
      <h2 class="jumbotron-heading2">開発者一覧</h2>
    </div>
  </section>

  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" style="height: 100%; width: 100%; display: block;"
              src="../static/icons/creaters-icon/harrison.jpg" data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text">
                <font size="5">HarrisonKawagoe</font>
              </p>
              <p>54代</p>
              <div class="d-flex justify-content-between align-items-center">

                <a href="">詳しく見る</a>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" style="height: 100%; width: 100%; display: block;"
              src="../static/icons/creaters-icon/nysyo.gif" data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text">
                <font size="5">nysyo</font>
              </p>
              <p>53代</p>
              <div class="d-flex justify-content-between align-items-center">

                <a href="">詳しく見る</a>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" style="height: 100%; width: 100%; display: block;"
              src="../static/icons/creaters-icon/biraki.jpg" data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text">
                <font size="5">wbelucky</font>
              </p>
              <p>53代</p>
              <div class="d-flex justify-content-between align-items-center">

                <a href="">詳しく見る</a>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" style="height: 100%; width: 100%; display: block;"
              src="../static/icons/creaters-icon/hebi.jpg" data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text">
                <font size="5">ヘビ</font>
              </p>
              <p>55代</p>
              <div class="d-flex justify-content-between align-items-center">

                <a href="">詳しく見る</a>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" style="height: 100%; width: 100%; display: block;"
              src="../static/icons/creaters-icon/waserin.png" data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text">
                <font size="5">わせりん</font>
              </p>
              <p>55代</p>
              <div class="d-flex justify-content-between align-items-center">

                <a href="">詳しく見る</a>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" style="height: 100%; width: 100%; display: block;"
              src="../static/icons/creaters-icon/yagi.jpg" data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text">
                <font size="5">やぎ</font>
              </p>
              <p>54代</p>
              <div class="d-flex justify-content-between align-items-center">

                <a href="">詳しく見る</a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock main %}