{% extends 'base.html' %}

{% load static %}

{% block title %}
ゲーム詳細
{% endblock title %}

{% block headerupper %}
<script src="{% static 'js/facebook.js' %}"></script>
{% endblock headerupper %}

{% block main %}
<div class="container">
  <div class="page-container">
    <div class="single-portfolio-holder portfolio-type-2 alt-four">
      <div class="title section-title">
        <h1>{{ object.title }}</h1>
        {% comment %} <div class="share" align="right">
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="【ページのURL】" data-text="【ツイート本文】"
            data-via="【ユーザ名】" data-size="【ボタンのサイズ】" data-related="【ユーザ名】" data-count="【カウント表示の種類】"
            data-hashtags="【ハッシュタグ】">Tweet</a>
          <script src="{% static 'js/twitter.js' %}"></script>

          <div class="fb-like" data-href="【URL】" data-layout="button_count"></div>

        </div> {% endcomment %}
      </div>

      <div class="col-sm-12">
        <div class="gallery">
          <div class="row nivo">
            <div class="col-xs-12">
              <div class="photo wow fadeInLab" style="visibility: visible; animation-name: fadeInLab;">
                {% if object.image.url != None %}
                <img style="height: 100%; width: 100%; display: block;"
                  class="attachment-portfolio-single-img-1 size-portfolio-single-img-1 img-2814 lazyloaded"
                  role="presentation" src="{{ object.image.url }}">
                {% else %}
                <img style="height: 100%; width: 100%; display: block;"
                  class="attachment-portfolio-single-img-1 size-portfolio-single-img-1 img-2814 lazyloaded"
                  role="presentation" src="{% static 'icons/noimage.png' %}">
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="col-sm-12">
          <div class="project-description">
            <div class="post-formatting">
              <p>{{ object.description }}</p>
              <br>
              <p>作成者： {{ object.user.first_name }}</p>
              <p>カテゴリ： {{ object.categoryname }}</p>
              <p>対応機種： {{ object.link_browser |yesno:'Web,'}} {{ object.link_Windows |yesno:'Windows,'}}
                {{ object.link_Mac |yesno:'Mac,'}} {{ object.link_Android |yesno:'Android,'}}
                {{ object.link_iOS |yesno:'iOS,'}}
              </p>
              <div style="padding: 20px;">
                <p>
                  {% if object.link_browser %}
                  <button type="button" class="btn btn-dark">
                    <a href="{{ object.link_browser }}" class="button">ブラウザ</a>
                  </button>
                  {% endif %}
                  {% if object.link_Windows %}
                  <button type="button" class="btn btn-dark">
                    <a href="{{ object.link_Windows }}" class="button">
                      <img src="{% static 'icons/windows.svg' %}" alt="">
                      Windows
                    </a>
                  </button>
                  {% endif %}
                  {% if object.link_Mac %}
                  <button type="button" class="btn btn-dark">
                    <img src="{% static 'icons/apple.svg' %}" alt="">
                    <a href="{{ object.link_Mac }}" class="button">MacOS</a>
                  </button>
                  {% endif %}
                  {% if object.link_Android %}
                  <img alt="Google Play で手に入れよう"
                    src="https://play.google.com/intl/en_us/badges/static/images/badges/ja_badge_web_generic.png"
                    width="180px" height="auto" style='margin-top:-42px;'>
                  {% endif %}
                  {% if object.link_iOS %}
                  <a href="{{ object.link_iOS }}"
                    style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2013-09-18&kind=iossoftware&bubble=ios_apps) no-repeat;width:160px;height: 48px;background-size: contain;">
                  </a>
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
        </div>
        {% comment %} <table class="table table-hover table-bordered">
          <caption>ランキング</caption>
          <thead>
            <tr>
              <th>順位</th>
              <th>名前</th>
              <th>スコア</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>1</th>
              <td>Harrisonkawagoe</td>
              <td>
                <div class="text-right"></div>
              </td>
            </tr>
            <tr>
              <th>2</th>
              <td>biraki</td>
              <td>
                <div class="text-right"></div>
              </td>
            </tr>
            <tr>
              <th>3</th>
              <td>nysyo</td>
              <td>
                <div class="text-right"></div>
              </td>
            </tr>
          </tbody>
        </table> {% endcomment %}
      </div>

    </div>
  </div>
</div>
{% endblock main %}