{% extends 'base.html' %}

{% load static %}

{% block title %}
  成果物詳細
{% endblock title %}

{% block headerupper %}
  <script src="{% static 'js/facebook.js' %}"></script>
{% endblock headerupper %}

{% block main %}
  <div class="container">
    <div class="page-container">
      <div class="single-portfolio-holder portfolio-type-2 alt-four">
        <div class="title section-title">
          <h1>{{ development.title }}</h1>
          {% comment %} <div class="share" align="right">
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="【ページのURL】" data-text="【ツイート本文】"
            data-via="【ユーザ名】" data-size="【ボタンのサイズ】" data-related="【ユーザ名】" data-count="【カウント表示の種類】"
            data-hashtags="【ハッシュタグ】">Tweet</a>
          <script src="{% static 'js/twitter.js' %}"></script>

          <div class="fb-like" data-href="【URL】" data-layout="button_count"></div>

        </div> {% endcomment %}
        </div>

        <div class="col-sm-12">
          <div class="gallery">
            <div class="row nivo">
              <div class="col-xs-12">
                <div class="photo wow fadeInLab" style="visibility: visible; animation-name: fadeInLab;">
                  {% if development.top_image %}
                    <img style="height: 100%; width: 100%; display: block;"
                         class="attachment-portfolio-single-img-1 size-portfolio-single-img-1 img-2814 lazyloaded"
                         role="presentation" src="{{ development.top_image.url }}">
                  {% else %}
                    <img style="height: 100%; width: 100%; display: block;"
                         class="attachment-portfolio-single-img-1 size-portfolio-single-img-1 img-2814 lazyloaded"
                         role="presentation" src="{% static 'icons/noimage.png' %}">
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="col-sm-12">
            <div class="project-description">
              <div class="post-formatting">
                <p>{{ development.description | linebreaksbr }}</p>
                <br>
                <p>作成者： {{ development.user.first_name }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}