{% extends 'base.html' %}

{% load static %}

{% block title %}
  成果物詳細
{% endblock title %}

{% block headerupper %}
  <script src="{% static 'js/facebook.js' %}"></script>
{% endblock headerupper %}

{% block main %}
  <div class="container">
    <div class="page-container">
      <div class="single-portfolio-holder portfolio-type-2 alt-four">
        <div class="title section-title">
          <h1>{{ development.title }}</h1>
          {% comment %} <div class="share" align="right">
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="【ページのURL】" data-text="【ツイート本文】"
            data-via="【ユーザ名】" data-size="【ボタンのサイズ】" data-related="【ユーザ名】" data-count="【カウント表示の種類】"
            data-hashtags="【ハッシュタグ】">Tweet</a>
          <script src="{% static 'js/twitter.js' %}"></script>

          <div class="fb-like" data-href="【URL】" data-layout="button_count"></div>

        </div> {% endcomment %}
        </div>

        <div class="col-sm-12">
          <div class="gallery">
            <div class="row nivo">
              <div class="col-xs-12">
                <div class="photo wow fadeInLab" style="visibility: visible; animation-name: fadeInLab;">
                  {% if development.top_image %}
                    <img style="height: 100%; width: 100%; display: block;"
                         class="attachment-portfolio-single-img-1 size-portfolio-single-img-1 img-2814 lazyloaded"
                         role="presentation" src="{{ development.top_image.url }}">
                  {% else %}
                    <img style="height: 100%; width: 100%; display: block;"
                         class="attachment-portfolio-single-img-1 size-portfolio-single-img-1 img-2814 lazyloaded"
                         role="presentation" src="{% static 'icons/noimage.png' %}">
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="col-sm-12">
            <div class="project-description">
              <div class="post-formatting">
                {{ development.description | linebreaksbr }}
              </div>
            </div>

            <div>
              <p>作成者: {{ development.developer.first_name }}</p>
            </div>
            <div>
              <p>共同作成者:</p>
              <div class="pl-5">
                {% for co_developer in development.co_developers.all %}
                  <p>{{ co_developer.first_name }}</p>
                {% endfor %}
              </div>
            </div>
            <div>
              <p>研究会:
                {% if development.get_associations_display %}
                  {{ development.get_associations_display }}
                {% else %}
                  -
                {% endif %}
              </p>
            </div>
            <div>
              <p>みす内にのみ公開:
                {% if development.is_private %}
                  True
                {% else %}
                  False
                {% endif %}
              </p>
            </div>
            <div>
              <p>メディアファイル:
                <div class="pl-5">
                  {% for media in development.medias.all %}
                    <p>ファイルタイプ: {{ media.get_type_display }}</p>
                    <a href="{{ media.file.url }}">{{ media.file }}</a>
                  {% endfor %}
                </div>
              </p>
            </div>
            <div>
              <p>リンク:
                <div class="pl-5">
                  {% for link in development.links.all %}
                    <p>リンクタイプ: {{ link.get_type_display }}</p>
                    <a href="{{ link.link }}">{{ link.link }}</a>
                  {% endfor %}
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock main %}