{% extends 'base.html' %}

{% load static %}

{% block title %}
  マイページ | ゲーム詳細
{% endblock title %}

{% block head %}
  <!-- css link -->
  <link href="{% static 'css/myPage.css' %}" rel="stylesheet">
{% endblock head %}

{% block main %}
  <html lang="ja">

  <div class="container">
    <div class="page-container">
      <div class="single-portfolio-holder portfolio-type-2 alt-four">
        <!-- added div -->
        <div class="p-3 mb-5 row">
          <p class="col-md-3">状態：　<span>{{ development.get_status_display }}</span></p>
          <p class="col-md-3">ゲームID:　<span>{{ development.id }}</span></p>
          <p class="col-md-3">申請者:　<span>{{ development.user.first_name }}</span></p>
        </div>
        <div class="title section-title">
          <h1>{{ development.title }}</h1>
        </div>

        <div class="col-sm-12">
          <div class="gallery">
            <div class="row nivo">
              <div class="col-12">
                <div class="photo wow fadeInLab" style="visibility: visible; animation-name: fadeInLab;">
                  {% if development.top_image %}
                    <img style="height: 100%; width: 100%; display: block;"
                         class="attachment-portfolio-single-img-1 size-portfolio-single-img-1 img-2814 lazyloaded"
                         role="presentation" src=" {{ development.top_image.url }} ">
                  {% else %}
                    <img style="height: 100%; width: 100%; display: block;"
                         class="attachment-portfolio-single-img-1 size-portfolio-single-img-1 img-2814 lazyloaded"
                         role="presentation" src=" {% static 'icons/noimage.png' %} ">
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="col-sm-12">
            <div class="project-description">
              <div class="post-formatting">
                {{ development.description | linebreaksbr }}
              </div>
            </div>

            <div>
              <p>作成者: {{ development.user.first_name }}</p>
        </div>
      </div>

      <div class="col-12 p-4 text-center text-break">
        <a href="{% url 'mypage:developments_update' development.pk %}" class="">
          <button class="btn btn-primary">内容変更</button>
        </a>
        <a href="{% url 'mypage:developments_delete' development.pk %}" class="px-2">
          <button class="btn btn-danger">削除</button>
        </a>
        <a href="{% url 'mypage:home' user.pk %}" class="pl-5">
          <button class="btn btn-secondary">戻る</button>
        </a>
      </div>
    </div>
  </div>
{% endblock main %}
