{% extends 'base.html' %}

{% load static %}

{% block title %}
  マイページ | 新規申請
{% endblock title %}

{% block head %}
  <!-- css link -->
  <link href="{% static 'css/myPage.css' %}" rel="stylesheet">
  <!-- js link -->
  <script type="text/javascript" src="{% static 'js/mypage_application.js' %} "></script>
{% endblock head %}

{% block main %}
  <main role="main">

    <div class="container">
      <h1 class="">新規申請</h1>
      <form id="myform" class="px-4" method="post" enctype="multipart/form-data">
        <!--class="was-validated"-->
        {% csrf_token %}
        <div class="row form-group py-4">
          <label class="col-xs-12 col-sm-4 col-form-label" for="id_title">タイトル</label>
          <div class="col-xs-12 col-sm-8">
            {{ development_form.title }}
          </div>
        </div>

        <div class="row form-group py-3">
          <label class="col-xs-12 col-sm-4 col-form-label" for="id_description">説明</label>
          <div class="col-xs-12 col-sm-8">
            {{ development_form.description }}
          </div>
        </div>

        <div class="row form-group py-3">
          <label class="col-xs-12 col-sm-4 col-form-label">作成者</label>
          <div class="col-xs-12 col-sm-8">
            <input type="text" id="createdBy" name="createdBy" value="{{ user.first_name }}" disabled></input>
          </div>
        </div>

        <div class="row form-group py-3">
          <label class="col-xs-12 col-sm-4 col-form-label">共同作成者</label>
          <div class="col-xs-12 col-sm-8">
            <div id="co_developers_output">
            </div>
            <p>
                <input type="text" id="co_developer_input" placeholder="名前">
                <button type="button" class="btn px-1">
                  <img id="co_developer_add_button" src="{% static 'icons/plus.svg' %}" width="25" alt="共同作成者追加">
                </button>
            </p>
            <p id="co_developer_add_button_assist"></p>
            <div id="developers_area">
              {% for checkbox in development_form.co_developers %}
                <div class="checkbox">
                  <label>
                    {{ checkbox.tag }} 
                    <span id="id_co_developer_name">{{ checkbox.choice_label }}</span>
                  </label>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="row form-group py-3">
          <label class="col-xs-12 col-sm-4 col-form-label" for="is_private">研究会</label>
          <div class="col-xs-12 col-sm-8">
            {% for checkbox in development_form.associations %}
              <div class="checkbox">
                <label for="associations">
                  {{ checkbox.tag }}
                  <span>{{ checkbox.choice_label }}</span>
                </label>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="row form-group py-3">
          <label class="col-xs-12 col-sm-4 col-form-label" for="id_is_private">みす内のみに公開</label>
          <div class="col-xs-12 col-sm-8">
            {{ development_form.is_private }}
          </div>
        </div>

        <div class="image_input_group row form-group py-3">
          <label class="col-xs-12 col-sm-4 col-form-label" for="id_top_image">トップ画像</label>
          <div class="col-xs-12 col-sm-8">
            {{ development_form.top_image }}
          </div>
        </div>

        <hr>
        <div class="row form-group py-3">
          <label class="col-xs-12 col-sm-4 col-form-label" for="is_private">メディアファイル</label>
          <div class="col-xs-12 col-sm-8"> 
            <!-- media file form is copied from html in <div id="media_file_input_base"> -->
            <div id="media_file_input_base"> 
              <div class="media_file_input py-3">
                <div class="py-1"> 
                  【<span class="media_file_count"></span>】
                  <input type="button" id="remove_media_file_button" class="btn-success float-right" value="-">
                </div>
                <div class="pl-4">
                  {{ media_form_base.as_p }} 
                </div>
              </div>
            </div>
            <!-- media file form is here -->
            <div id="media_file_input_area">
            </div>
            <div class="pb-4">
              <button type="button" class="btn px-1">
                <img src="{% static 'icons/plus.svg' %}" width="25" alt="メディアファイル追加" id="add_media_file_button">
              </button>
              <span> (max: <span id="media_file_input_num_max"></span>)</span>
            </div>
          </div>
        </div>

        <hr>
        <div class="row form-group py-3">
          <label class="col-xs-12 col-sm-4 col-form-label" for="is_private">リンク</label>
          <div class="col-xs-12 col-sm-8">
            <!-- link form is copied from html in <div id="link_input_base"> -->
            <div id="link_input_base"> 
              <div class="link_input py-3">
                <div class="py-1"> 
                  【<span class="link_count"></span>】
                  <input type="button" id="remove_link_button" class="btn-success float-right " value="-">
                </div>
                <div class="pl-4">
                  {{ link_form_base.as_p }}
                </div>
              </div>
            </div>
            <!-- link form is here -->
            <div id="link_input_area">
            </div>
            <div class="pb-4">
              <button type="button" class="btn px-1">
                <img src="{% static 'icons/plus.svg' %}" width="25" alt="リンク追加" id="add_link_button">
              </button>
              <span> (max: <span id="link_input_num_max"></span>)</span>
            </div>
          </div>
        </div>

        <hr>
        <div class="p-5">
          <button type="submit" id="submit" class="btn btn-primary pr-4 pl-4 align-content-center">申請</button>
          <!--type="submit"-->
        </div>
      </form>
    </div>
  </main>
{% endblock main %}
