{% extends 'base.html' %}

{% load static %}

{% block title %}
  マイページ | 内容変更申請
{% endblock title %}

{% block head %}
  <!-- css link -->
  <link href="{% static 'css/myPage.css' %}" rel="stylesheet">
  <!-- js link -->
  <script type="text/javascript" src="{% static 'js/mypage_application.js' %} "></script>
{% endblock head %}

{% block main %}
  <main role="main">
    <div class="container">
      <h2 class="">内容変更申請</h2>
      <form id="myform" class="px-4" method="post" enctype="multipart/form-data">
        <!--class="was-validated"-->
        {% csrf_token %}
        {% csrf_token %}
        <div class="row form-group py-4">
          <label class="col-xs-12 col-sm-4 col-form-label" for="title">タイトル</label>
          <div class="col-xs-12 col-sm-8">
            {{ development_form.title }}
          </div>
        </div>

        <div class="row form-group py-3">
          <label class="col-xs-12 col-sm-4 col-form-label" for="introduction">説明</label>
          <div class="col-xs-12 col-sm-8">
            {{ development_form.description }}
          </div>
        </div>

        <div class="row form-group py-3">
          <label class="col-xs-12 col-sm-4 col-form-label">作成者</label>
          <div class="col-xs-12 col-sm-8">
            <input type="text" id="createdBy" name="createdBy" value="{{ user.first_name }}" disabled></input>
            <p class="" data-toggle="collapse" href="#developer_div" aria-expanded="false"
               aria-controls="developer_div">
              <img src="{% static 'icons/plus.svg' %}" width="25" alt="作成者追加">
              <span id="co_createdBy" class="bg-white pt-1 pb-1"></span>
            </p>
            <div class="collapse bg-light" id="developer_div">
              <p>共同作成者:</p>
                {% for checkbox in development_form.co_developers %}
                  <div class="checkbox">
                    <label for="users">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  </div>
                {% endfor %}
            </div>
          </div>
        </div>

        <div class="row form-group py-3">
          <label class="col-xs-12 col-sm-4 col-form-label" for="is_private">研究会</label>
          <div class="col-xs-12 col-sm-8">
            {% for checkbox in development_form.associations %}
              <div class="checkbox">
                <label for="associations">
                  {{ checkbox.tag }} {{ checkbox.choice_label }}
                </label>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="row form-group py-3">
          <label class="col-xs-12 col-sm-4 col-form-label" for="is_private">みす内のみに公開</label>
          <div class="col-xs-12 col-sm-8">
            {{ development_form.is_private }}
          </div>
        </div>

        <div class="row form-group py-3">
          <label class="col-xs-12 col-sm-4 col-form-label" for="gameImageInput">トップ画像</label>
          <div class="col-xs-12 col-sm-8">
            {% if development.top_image %}
              現在:
              <a href="{{ development.top_image.url }}">{{ development.top_image }}</a>
              <input type="checkbox" name="top_image-clear" id="top_image-clear_id">
              <label for="top_image-clear_id">クリア</label>
              <br>
              変更:
            {% endif %} 
            {{ development_form.top_image }}
          </div>
        </div>

        <hr>
        <div class="row form-group py-3">
          <label class="col-xs-12 col-sm-4 col-form-label" for="is_private">メディアファイル</label>
          <div class="col-xs-12 col-sm-8">
            {{ media_form.as_p }}
          </div>
        </div>

        <hr>
        <div class="row form-group py-3">
          <label class="col-xs-12 col-sm-4 col-form-label" for="is_private">リンク</label>
          <div class="col-xs-12 col-sm-8">
            {{ link_form.as_p }}
          </div>
        </div>

        <div class="col-12 p-4 text-center text-break">
          <a class="px-3">
            <button type="submit" class="btn btn-primary">変更申請</button>
          </a>
          <a href="{% url 'mypage:developments_delete' development.pk %}" class="btn btn-danger">削除</a>
          <span class="pl-5">
            <a href="{% url 'mypage:home' user.pk %}" class="btn btn-secondary">戻る</a>
          </span>
        </div>
      </form>
    </div>
  </main>
{% endblock main %}
