{% extends 'base.html' %}

{% load static %}

{% block title %}
  マイページ
{% endblock title %}

{% block head %}
  <!-- css link -->
  <link href="{% static 'css/myPage.css' %}" rel="stylesheet">
{% endblock head %}

{% block main %}
  <main role="main">
    <!-- profile  -->
    <section class="p-5" style="background-color: rgb(238, 237, 237);">
      <div class="container">
        <div class="row align-items-center mx-auto justify-content-center">
          <div class="col-12 col-md-4 text-center">
            <!-- col-12 col-md-4 -->
            <!-- col-4 col-auto-->

            {% if user.image %}
              <img class="rounded-circle" src="{{ user.image.url }}" width="200" height="200">
            {% else %}
              <img class="rounded-circle" src="{% static 'icons/profile.svg' %}" width="200" height="200">
            {% endif %}
          </div>
          <div class="d-md-none p-4"></div>
          <div class="col-12 col-md-8 text-left">
            <!-- col-12 col-md-8 -->
            <!-- col-8 col-auto-->
            <div style="overflow-wrap: break-word; word-wrap: break-word;">
              <div class="row p-2">
                <span class="col-6 col-md-5">ユーザーネーム: </span>
                <span class="col-6 col-md-5">{{ user.username }}</span>
              </div>
              <div class="row p-2">
                <span class="col-6 col-md-5">ハンドルネーム: </span>
                <span class="col-6 col-md-5">{{ user.first_name }}</span>
              </div>
              <div class="row p-2">
                <span class="col-6 col-md-5">代: </span>
                {% if user.generation %}
                  <span class="col-6 col-md-5">{{ user.generation }}</span>
                {% else %}
                  <span class="col-6 col-md-5">-</span>
                {% endif %}
              </div>
              <div class="row p-2">
                <span class="col-6 col-md-5">研究会: </span>
                {% if user.get_associations_display %}
                  <span class="col-6 col-md-5">{{ user.get_associations_display }}</span>
                {% else %}
                  <span class="col-6 col-md-5">-</span>
                {% endif %}
              </div>
              <div class="row p-2">
                <span class="col-12 col-md-5">ひとこと: </span>
                <span class="col-12 col-md-5">
                <p>{{ user.description | linebreaksbr }}</p>
              </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="container ">
      <!-- 作成したゲーム一覧 -->
      <div class="row justify-content-center">

        <div class="p-4 col-12">
          <!-- 個人作成ゲーム -->
          <p class="h2">個人作成</p>
          <table class="table  table-hover p-2 text-nowrap overflow-auto ">
            <!--table-responsive-->
            <thead class="thead-light">
            <tr>
              <th class="d-table-cell" style="width:15%;">状態</th>
              <th class="d-none d-md-table-cell" style="width:15%;">ID</th>
              <th class="d-none d-md-table-cell" style="width:10%;">トップ画像</th>
              <th class="d-table-cell" style="width:20%;">タイトル</th>
              <th class="d-none d-md-table-cell" style="width:15%;"></th>
              <th class="d-table-cell" style="width:15%;"></th>
            </tr>
            </thead>
            <tbody>
            {% for development in developments %}
              <tr>
                <td class="d-table-cell">
                  {% if development.status == 1 %}
                    <span class="btn btn-primary status_public">公開</span>
                  {% elif development.status == 2 %}
                    <span class="btn btn-success btn-sm">非公開</span>
                  {% else %}
                    <span class="btn btn-info btn-sm">申請中</span>
                  {% endif %}
                <td class="d-none d-md-table-cell align-middle">{{ development.id }}</td>
                {% if development.top_image %}
                  <td class="d-none d-md-table-cell align-middle">
                    <img src="{{ development.top_image.url }}" width="32" height="32">
                  </td>
                {% else %}
                  <td class="d-none d-md-table-cell align-middle">
                    <img src="{% static 'icons/noimage.png' %}" width="32" height="32">
                  </td>
                {% endif %}

                <td class="d-table-cell  text-wrap align-middle">{{ development.title }}</td>
                <!--overflow-hidden  -->
                <td class="d-none d-md-table-cell align-middle"></td>
                <td class="d-table-cell align-middle">
                  <a href="{% url 'mypage:developments_detail' development.pk %}">
                    <button class="btn btn-outline-dark">詳細</button>
                  </a>
                  <a href="{% url 'mypage:developments_update' development.pk %}">
                    <button class="btn btn-success">変更</button>
                  </a>
                </td>
              </tr>
            {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
{% endblock main %}
