{% extends 'base.html' %}

{% load static %}

{% block title %}
マイページ
{% endblock title %}

{% block main %}

<main role="main">
  <form action="/mypage/update_profile" method="post">
    {% csrf_token %}
    <!-- profile  -->
    <section class="p-5" style="background-color: rgb(238, 237, 237);">
      <div class="container">
        <div class="row align-items-center mx-auto justify-content-center">
          <div class="col-12 col-md-4 text-center pb-5">
            <!-- col-12 col-md-4 -->
            <!-- col-4 col-auto-->

            <label for="profileImageInput">
              <img id="profileImage" class="img-fluid rounded-circle" src="{% static 'icons/profile.svg' %}" alt="プロフィール画像"
                width="200" height="200">
            </label>
            <input id="profileImageInput" name="profileImageInput" type="file" class="form-control-file center-block"
              name="profileImageInput" accept="image/*">

          </div>
          <div class="col-12 col-md-8 text-left ">
            <!-- col-12 col-md-8 -->
            <!-- col-8 col-auto-->
            <div style="overflow-wrap: break-word; word-wrap: break-word;"></div>
            <div class="row form-group">
              <span class="col-6 col-md-5">ハンドルネーム: </span>
              <span class="col-6 col-md-5">{{user.first_name}}</span>
            </div>
            <div class="row form-group">
              <p class="col-6 col-md-5">
                <label for="generationInput">代: </label>
              </p>
              <p class="col-6 col-md-5">
                <input type="number" id="generationInput" name="generationInput" min="0" max="300"
                  value="{{user.generation}}">
              </p>
            </div>
            <div class="row form-group">
              <p class="col-6 col-md-5">
                <label for="shortCommentInput">ひとこと: </label>
              </p>
              <textarea class="col-6 col-md-5" id="shortCommentInput" name="shortCommentInput" rows="5"
                placeholder="自己紹介など">{{description}}</textarea>
            </div>
          </div>
        </div>

      </div>
      </div>
    </section>

    <div class="text-center p-5">
      <button id="changeButton" type="submit" class="btn btn-primary pr-3 pl-3 m-3">変更保存</button>
      <a href="{% url 'mypage:mypage_home' %}"><button type="button" class="btn btn-outline-danger pr-3 pl-3 m-3">戻る</button> </a>
    </div>

  </form>

</main>

<script>
  //画像変更
  $("#profileImageInput").on('change', function (e) {
    if (!e.target.files[0]) {
      $("#profileImage").attr('src', "");
      return;
    }

    var reader = new FileReader();
    reader.onload = function (e) {
      $("#profileImage").attr('src', e.target.result);
      $("#profileImage").attr('width', 200);
      $("#profileImage").attr('height', 200);
    }
    reader.readAsDataURL(e.target.files[0]);
  });

  //変更ボタン表示
  /*$("#changeButton").hide();
  $("input").on('click',function() {
      $("#changeButton").show('slow');
  });
  $("textarea").on('click',function() {
      $("#changeButton").show('slow');
  });*/


  //ページ移動警告
  /*
  $("input").change(function() {
      $("#changeButton").show("slow");
      $(window).on('beforeunload', function(e) {
          return '入力済みデータが失われます。このまま移動しますか？\n申請する場合は「このまま移動する」を押してください。';
      });
  });
  $("input[type=submit]").click(function() {
      $(window).off('beforeunload');
  });*/



  $('form').submit(
    function () {
      alert("「ひとこと」を「" + $('#shortCommentInput').val() + "」、\n「代」を" + $('#generationInput').val() + "に変更します。");
    }

  );
</script>


</body>

</html>
{% endblock main %}