{% extends 'base.html' %}

{% load static %}

{% block title %}
マイページ | 内容変更申請
{% endblock title %}

{% block head %}
<!-- css link -->
<link href="{% static 'css/myPage.css' %}" rel="stylesheet">
<!-- js link -->
<script type="text/javascript" src="{% static 'js/mypage_application.js' %} "></script>
{% endblock head %}

{% block main %}
<main role="main">

  <!--基本情報-->
  <!--
  <div class="row" >
      <p class="col-md-3">状態：　<span>公開中</span></p>
      <p class="col-md-3">ゲームID:　<span>0000000</span> </p>
  </div>
  -->


  <div class="container">
    <h2 class="">内容変更申請</h2>
    <form id="myform" class="px-4"  action="{% url 'mypage:update_application' app.id%}" method="post" enctype="multipart/form-data">
      <!--class="was-validated"-->
      {% csrf_token %}
      <div class="row form-group py-4">
        <label class="col-xs-12 col-sm-5 col-form-label" for="gameTitle">ゲームタイトル</label>
        <div class="col-xs-12 col-sm-7">
          <input class="form-control" id="gameTitle" name="gameTitle" type="text" placeholder="入力" value="{{ app.title }}" required>
        </div>
      </div>


      <div class="row form-group py-3">
        <label class="col-xs-12 col-sm-5 col-form-label" for="introduction">ゲームの説明</label>
        <div class="col-xs-12 col-sm-7">
          <textarea class="form-control" id="introduction" name="introduction" rows="5" required>{{ app.description }}</textarea>
        </div>
      </div>

      <div class="row form-group py-3">
        <label class="col-xs-12 col-sm-5 col-form-label">作成者</label>
        <div class="col-xs-12 col-sm-7">
          <input type="text" id="createdBy" name="createdBy" value="{{user.first_name}}" disabled></input>
          <p class="" data-toggle="collapse" href="#developer_div" aria-expanded="false" aria-controls="developer_div">
            <img src="{% static 'icons/plus.svg' %}" width="25" alt="作成者追加">
            <span id="co_createdBy" class="bg-white pt-1 pb-1"></span>
          </p>
          <div class="collapse bg-light" id="developer_div">
            <p>申請者(あなた)以外の作成者:</p>
            <input type="checkbox" name="developer" id=""><label for="">name1</label><span>　</span>
            <input type="checkbox" name="developer" id=""><label for="">name2</label><span>　</span>
            <input type="checkbox" name="developer" id=""><label for="">name3</label><span>　</span>
            <input type="checkbox" name="developer" id=""><label for="">name4</label><span>　</span>
            <input type="checkbox" name="developer" id=""><label for="">name5</label><span>　</span>
            <input type="checkbox" name="developer" id=""><label for="">name6_</label><span>　</span>
            <input type="checkbox" name="developer" id=""><label for="">name7__</label><span>　</span>
            <input type="checkbox" name="developer" id=""><label for="">name8</label><span>　</span>
            <input type="checkbox" name="developer" id=""><label for="">nam9</label><span>　</span>
            <input type="checkbox" name="developer" id=""><label for="">name10_</label><span>　</span>
            <input type="checkbox" name="developer" id=""><label for="">name11_</label><span>　</span>
            <input type="checkbox" name="developer" id=""><label for="">n12</label><span>　</span>
            <input type="checkbox" name="developer" id=""><label for="">na13</label><span>　</span>
            <input type="checkbox" name="developer" id=""><label for="">n14</label><span>　</span>
            <input type="checkbox" name="developer" id=""><label for="">n15</label><span>　</span>
            <input type="checkbox" name="developer" id=""><label for="">16</label><span>　</span>
            <input type="checkbox" name="developer" id=""><label for="">name17_</label><span>　</span>

          </div>
        </div>
      </div>

      <div class="row form-group py-3">
        <label class="col-xs-12 col-sm-5 col-form-label">ゲームカテゴリ</label>
        <div class="col-xs-12 col-sm-7">
          <select id="gameCategory" name="gameCategory" class="form-control" required>
            <option disabled selected value>選んでください</option>
            <option {% if app.categoryname == "RPG" %}selected{% endif %}>RPG</option>
            <option {% if app.categoryname == "アクション" %}selected{% endif %}>アクション</option>
            <option {% if app.categoryname == "シューティング" %}selected{% endif %}>シューティング</option>
            <option {% if app.categoryname == "パズル" %}selected{% endif %}>パズル</option>
            <option {% if app.categoryname == "音ゲー" %}selected{% endif %}>音ゲー</option>
            <option {% if app.categoryname == "その他" %}selected{% endif %}>その他</option>
          </select>
        </div>
      </div>

      <div class="row form-group py-3">
        <div class="col-xs-12 col-sm-7">
          <input type="file" name="gameImage" accept="image/*" class="img-fluid" id="gameImage" alt="画像を追加してください">
          <label class="bor" for="gameImageInput">
            {% if app.image %}
              <img src="{{app.image.url}}" width="25" alt="画像追加">
            {% else %}
              <img src="{% static 'icons/plus.svg' %}" width="25" alt="画像追加">
            {% endif %}

          </label>

        </div>

      </div>

      <div class="row form-group py-3">
        <div class="col-xs-12 col-sm-5">
          <label class="col-form-label">対応機種</label>
        </div>
        <div class="col-xs-12 col-sm-7">
          <div>
            <input class="form-check-input" type="checkbox" id="check0" name="check0" data-toggle="collapse"
              data-target="#link0" href="#link0" aria-expanded="false" aria-controls="link0" value="" {% if app.link_browser%}checked{%endif%}>
            <label class="form-check-label" for="check0">ブラウザ</label>
            <div class="collapse {% if app.link_browser%}show{%endif%}" id="link0">
              <input type="url" class="col-xs-12" name="link_browser" placeholder="ダウンロードリンク" value="{% if app.link_browser != None %}{{app.link_browser}}{%endif%}">
            </div>
          </div>
          <div>
            <input class="form-check-input" type="checkbox" id="check1" name="check1" data-toggle="collapse"
              data-target="#link1" href="#link1" aria-expanded="false" aria-controls="link1" {% if app.link_Windows%}checked{%endif%}>
            <label class="form-check-label" for="check1">Windows</label>
            <div class="collapse {% if app.link_Windows%}show{%endif%}" id="link1">
              <input type="url" class="col-xs-12" name="link_Windows" placeholder="ダウンロードリンク" value="{% if app.link_Windows != None %}{{app.link_Windows}}{%endif%}">
            </div>
          </div>
          <div>
            <input class="form-check-input" type="checkbox" id="check2" name="check2" data-toggle="collapse"
              data-target="#link2" href="#link2" aria-expanded="false" aria-controls="link2" {% if app.link_Mac%}checked{%endif%}>
            <label class="form-check-label" for="check2">Mac</label>
            <div class="collapse {% if app.link_Mac%}show{%endif%}" id="link2">
              <input type="url" class="col-xs-12" name="link_Mac" placeholder="ダウンロードリンク" value="{% if app.link_Mac  != None %}{{app.link_Mac}}{%endif%}">
            </div>
          </div>
          <div>
            <input class="form-check-input" type="checkbox" id="check3" name="check3" data-toggle="collapse"
              data-target="#link3" href="#link3" aria-expanded="false" aria-controls="link3" {% if app.link_Android%}checked{%endif%}>
            <label class="form-check-label" for="check3">Android</label>
            <div class="collapse {% if app.link_Android %}show{%endif%}" id="link3">
              <input type="url" class="col-xs-12" name="link_Android" placeholder="ダウンロードリンク" value="{% if app.link_Android  != None %}{{app.link_Android}}{%endif%}">
            </div>
          </div>
          <div>
            <input class="form-check-input" type="checkbox" id="check4" name="check4" data-toggle="collapse"
              data-target="#link4" href="#link4" aria-expanded="false" aria-controls="link4" {% if app.link_iOS%}checked{%endif%}>
            <label class="form-check-label" for="check4">iOS</label>
            <div class="collapse {% if app.link_iOS%}show{%endif%}" id="link4">
              <input type="url" class="col-xs-12" name="link_iOS" placeholder="ダウンロードリンク" value="{% if app.link_iOS  != None %}{{app.link_iOS}}{%endif%}">
            </div>
          </div>

        </div>
      </div>

      <div class="col-12 p-4 text-center text-break">
        <a class="px-3"><button type="submit" class="btn btn-primary">変更申請</button></a>
        <a class="px-3"><a href="{% url 'mypage:delete_application' app.id %}" class="btn btn-danger">削除申請</a></a>
      </div>
    </form>
  </div>
</main>
{% endblock main %}
