<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Sample</title>
    <!-- BootstrapのCSS読み込み -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- 共通部分の読み込み -->
    <script type="text/javascript">
        $(function() {
            // header.htmlをid属性「header」という名前で読み込むように指定する
            $("#header").load("header.html");
            $("#footer").load("footer.html");
        });
    </script>
</head>

<body>

    <div id="header">
        <div id="header"></div> <!-- header.htmlをここに表示する -->
    </div>


    <main role="main">

        <section class="error d-flex align-items-center justify-content-center">

            <div>
                <h1 class="text-center">500 Internal Server Error</h1>
                <p class="lead text-muted">アクセスしようとしたページは表示できませんでした</p>
            </div>

        </section>
    </main>

    <div id="footer">
        <div id="footer"></div> <!-- footer.htmlをここに表示する -->
    </div>
</body></html>

