<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Sample</title>
    <!-- BootstrapのCSS読み込み -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="../static/js/bootstrap.min.js"></script>
</head>

<body>

    <header>
        <div class="header">
            <nav>
                <a class="p-2 text-dark" href="./">ホーム</a>
                <a class="p-2 text-dark" href="./">このサイトについて</a>
                <a class="p-2 text-dark" href="./game-detail">開発者一覧</a>
            </nav>
        </div>

    </header>

    <main role="main">

        <section class="jumbotron text-center">
            <div>
                <h2 class="jumbotron-heading2">開発者一覧</h2>
            </div>
        </section>

        <div>
            <div class="container">

                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" style="height: 100%; width: 100%; display: block;" src="../static/icons/creaters-icon/harrison.jpg" data-holder-rendered="true">
                            <div class="card-body">
                                <p class="card-text">
                                    <font size="5">HarrisonKawagoe</font>
                                </p>
                                <p>54代</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <a href="">詳しく見る</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" style="height: 100%; width: 100%; display: block;" src="../static/icons/creaters-icon/nysyo.gif" data-holder-rendered="true">
                            <div class="card-body">
                                <p class="card-text">
                                    <font size="5">nysyo</font>
                                </p>
                                <p>53代</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <a href="">詳しく見る</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" style="height: 100%; width: 100%; display: block;" src="../static/icons/creaters-icon/biraki.jpg" data-holder-rendered="true">
                            <div class="card-body">
                                <p class="card-text">
                                    <font size="5">wbelucky</font>
                                </p>
                                <p>53代</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <a href="">詳しく見る</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" style="height: 100%; width: 100%; display: block;" src="../static/icons/creaters-icon/hebi.jpg" data-holder-rendered="true">
                            <div class="card-body">
                                <p class="card-text">
                                    <font size="5">ヘビ</font>
                                </p>
                                <p>55代</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <a href="">詳しく見る</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" style="height: 100%; width: 100%; display: block;" src="../static/icons/creaters-icon/waserin.png" data-holder-rendered="true">
                            <div class="card-body">
                                <p class="card-text">
                                    <font size="5">わせりん</font>
                                </p>
                                <p>55代</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <a href="">詳しく見る</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" style="height: 100%; width: 100%; display: block;" src="../static/icons/creaters-icon/yagi.jpg" data-holder-rendered="true">
                            <div class="card-body">
                                <p class="card-text">
                                    <font size="5">やぎ</font>
                                </p>
                                <p>54代</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <a href="">詳しく見る</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer id="footer" role="contentinfo" class="site-footer main-footer footer-bottom-vertical site-footer-inverted main-footer-inverted">
        <div class="foot-container">
            <div class="footer-widgets">
                <div class="footer--widgets widget-area widgets--columned-layout widgets--columns-3" role="complementary">
                    <div id="custom_html-2" class="widget_text widget widget_custom_html">
                        <div class="textwidget custom-html-widget">
                            <style>
                                .snsbutton {
                                    margin: 10px 15px -20px;
                                }

                                footer a::after {
                                    height: 0px !important;
                                }

                                div#share_field {
                                    width: 100%;
                                }

                            </style>
                            <div id="share_field">
                                <p style="text-align: center; color: #333; font-weight: bold; font-size: 22px; letter-spacing: 1px;">SHARE</p> <a href="https://www.facebook.com/sharer/sharer.php?u=https://misw.jp" target="_blank" rel="noopener noreferrer"> <img class="snsbutton" src="../static/icons/f-ogo_RGB_HEX-100.png" width="30" height="auto"> </a> <a href="http://twitter.com/share?url=https://misw.jp&amp;text=デジタル創作サークル「MIS.W」&amp;related=misw_info" target="_blank" rel="noopener noreferrer"> <img class="snsbutton" src="../static/icons/Twitter_Social_Icon_Square_Color.png" width="30" height="auto"> </a> <a href="https://social-plugins.line.me/lineit/share?url=https://misw.jp" target="_blank" rel="noopener noreferrer"> <img class="snsbutton" src="../static/icons/LINE_SOCIAL_Square_typeA.png" width="30" height="auto"> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom-content">
                    
                    <div>
                        <div>
                            <font color="#ffffff">© 2018-2020 MIS.W</font>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
