<html>

<head>
    <title>header</title>
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="./index.html">みすゲームセンター</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="./index.html">ホーム</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./about.html">このサイトについて</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./developers.html">開発者一覧</a>
                    </li>
                </ul>

                <ul class="nav nav-tabs pull-right">
                    <li class="nav-item">
                        <a href=""><button type="button" class="btn btn-primary">ログイン</button></a>
                    </li>
                </ul>

            </div>
        </nav>

    </header>
</body>

</html>
