<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Sample</title>
    <!-- BootstrapのCSS読み込み -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- 共通部分の読み込み -->
    <script type="text/javascript">
        $(function() {
            // header.htmlをid属性「header」という名前で読み込むように指定する
            $("#header").load("header.html");
            $("#footer").load("footer.html");
        });
    </script>
</head>

<body>

    <div id="header">
        <div id="header"></div> <!-- header.htmlをここに表示する -->
    </div>

    <main role="main">

        <div class="jumbotron text-center" style="background-image: url(../static/icons/eyecatch.png)">
            <div>

                <h1 class="jumbotron-heading">みすゲームセンター</h1>
                <p class="lead text-muted">
                    <font color="white">みすの部員が作ったゲームで遊べる</font>
                </p>
            </div>
        </div>

        <div>
            <div class="container">

                <form action="cgi-bin/example.cgi" method="post">
                    <p>検索したいキーワードを入力してください。</p>
                    <input type="search" name="search" placeholder="キーワードを入力">
                    <input type="submit" name="submit" value="検索">
                    <!-- 折り畳み展開ポインタ -->
                    <div onclick="obj=document.getElementById('open').style; obj.display=(obj.display=='none')?'block':'none';">
                        <a style="cursor:pointer;"><img src="../static/icons/plus.png" width="20px" height="20px"></a>
                    </div>
                    <!--// 折り畳み展開ポインタ -->

                    <!-- 折り畳まれ部分 -->
                    <div id="open" style="display:none;clear:both;background-color: #eee">
                        <h4>対象機種</h4>
                        <p>
                            <input type="checkbox" name="kisyu" value="1">Windows
                            <input type="checkbox" name="kisyu" value="2">Mac
                            <input type="checkbox" name="kisyu" value="3">Android
                            <input type="checkbox" name="kisyu" value="4">iOS
                            <input type="checkbox" name="kisyu" value="5">ブラウザ
                        </p>

                        <h4>ゲームカテゴリ</h4>
                        <p>
                            <input type="checkbox" name="category" value="1">RPG
                            <input type="checkbox" name="category" value="2">アクション
                            <input type="checkbox" name="category" value="3">シミュレーション
                            <input type="checkbox" name="category" value="4">パズル
                            <input type="checkbox" name="category" value="5">音ゲー
                        </p>

                    </div>
                    <!--// 折り畳まれ部分 -->
                </form>

                <div class="row" position="relative">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" style="height: 200px; width: 100%; display: block;" src="../static/icons/games-icon/hulogn.png" data-holder-rendered="true">
                            <div class="card-body">
                                <p class="card-text">
                                    <font size="5">HuLoG:N</font>
                                </p>
                                <p>作成者：biraki, oguni, 藤汐, Fujissy, rauraroro, shakkiy, yulaxy</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <a href="">詳しく見る</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" style="height: 200px; width: 100%; display: block;" src="../static/icons/games-icon/lostsocial.png" data-holder-rendered="true">
                            <div class="card-body">
                                <p class="card-text">
                                    <font size="5">失われたsocialを求めて</font>
                                </p>
                                <p>作成者：nysyo</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <a href="">詳しく見る</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" style="height: 200px; width: 100%; display: block;" src="../static/icons/games-icon/concentration.png" data-holder-rendered="true">
                            <div class="card-body">
                                <p class="card-text">
                                    <font size="5">神経衰弱 Concentration</font>
                                </p>
                                <p>作成者：yagi</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <a href="">詳しく見る</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" style="height: 200px; width: 100%; display: block;" src="../static/icons/games-icon/mistrain.png" data-holder-rendered="true">
                            <div class="card-body">
                                <p class="card-text">
                                    <font size="5">MIS列車でGO! 2019</font>
                                </p>
                                <p>作成者：HarrisonKawagoe, yagi, SEED, タコス, okanon</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <a href="">詳しく見る</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" style="height: 200px; width: 100%; display: block;" src="../static/icons/games-icon/mistrain.png" data-holder-rendered="true">
                            <div class="card-body">
                                <p class="card-text">
                                    <font size="5">MIS列車でGO!</font>
                                </p>
                                <p>作成者：HarrisonKawagoe, yagi, SEED, タコス, okanon</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <a href="">詳しく見る</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" style="height: 200px; width: 100%; display: block;" src="../static/icons/games-icon/mistrain.png" data-holder-rendered="true">
                            <div class="card-body">
                                <p class="card-text">
                                    <font size="5">MIS列車でGO!</font>
                                </p>
                                <p>作成者：HarrisonKawagoe, yagi, SEED, タコス, okanon</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <a href="">詳しく見る</a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" style="height: 200px; width: 100%; display: block;" src="../static/icons/games-icon/mistrain.png" data-holder-rendered="true">
                            <div class="card-body">
                                <p class="card-text">
                                    <font size="5">MIS列車でGO!</font>
                                </p>
                                <p>作成者：HarrisonKawagoe, yagi, SEED, タコス, okanon</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <a href="">詳しく見る</a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" style="height: 200px; width: 100%; display: block;" src="../static/icons/games-icon/mistrain.png" data-holder-rendered="true">
                            <div class="card-body">
                                <p class="card-text">
                                    <font size="5">MIS列車でGO!</font>
                                </p>
                                <p>作成者：HarrisonKawagoe, yagi, SEED, タコス, okanon</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <a href="">詳しく見る</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" style="height: 200px; width: 100%; display: block;" src="../static/icons/games-icon/mistrain.png" data-holder-rendered="true">
                            <div class="card-body">
                                <p class="card-text">
                                    <font size="5">MIS列車でGO!</font>
                                </p>
                                <p>作成者：HarrisonKawagoe, yagi, SEED, タコス, okanon</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <a href="">詳しく見る</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <div id="footer">
        <div id="footer"></div> <!-- footer.htmlをここに表示する -->
    </div>
    
</body></html>
