{% extends 'base.html' %}

{% load static %}

{% block title %}
  MISW Museum | 開発者一覧
{% endblock title %}

{% block main %}
  <main role="main">
    <section class="jumbotron-heading2 text-center px-5 py-5">
      <div>
        <h2>開発者一覧</h2>
      </div>
    </section>

    <div>
      <div class="container">
        <div class="row">
          {% for developer in developers %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                {% if developer.image %}
                  <img class="card-img-top" style="height: 300px; width: 100%; display: block;"
                       src="{{ developer.image.url }}" data-holder-rendered="true">
                {% else %}
                  <img class="card-img-top" style="height: 300px; width: 100%; display: block;"
                       src="{% static 'icons/profile.svg' %}" data-holder-rendered="true">
                {% endif %}
                <div class="card-body">
                  <p class="card-text">
                    <font size="5">{{ developer.first_name }}</font>
                  </p>
                  {% if developer.generation %}
                    <p>{{ developer.generation }}代</p>
                  {% else %}
                    <p>-代</p>
                  {% endif %}
                  <div class="d-flex justify-content-between align-items-center">
                    <a href="{% url 'developers:detail' developer.pk %}">詳しく見る</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </main>
{% endblock main %}
